* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy";
}
html,
body {
  width: 100%;
  height: 100%;
}
#main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgb(208, 127, 255);
}
#panel {
  overflow: hidden;
  width: 80%;
  height: 90%;
  background-color: rgb(246, 250, 244);
  border-radius: 7px;
}
#ptop {
  display: flex;
  padding: 0px 30%;
  justify-content: space-around;
  align-items: center;
  color: white;
  width: 100%;
  height: 100px;
  background-color: rgb(152, 76, 223);
}
.elem {
  display: flex;
  align-items: center;
  gap: 20px;
}
.elem h2 {
  font-size: 22px;
  font-weight: 500;
}

.box {
  font-weight: 600;
  padding: 8px 16px;
  background-color: white;
  border-radius: 5px;
  color: black;
  font-size: 25px;
}
#pbtm {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px;
  width: 100%;
  height: calc(100%-100px);
}
#pbtm .bubble {
  width: 50px;
  height: 50px;
  background-color: rgb(117, 117, 223);
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}
#pbtm .bubble:hover {
  cursor: pointer;
  background-color: blue;
}


/* media query  */

@media (max-width:600px){
  #ptop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
  }
  .box {
    font-weight: 100;
    padding: 5px 10px;
    font-size: 15px;
    
  }

 .first{
  margin-left: 20px;
 }
 #pbtm .bubble {
  width: 25px;
  height: 25px;
  font-weight: 350;
}
}